<!DOCTYPE html>
<html lang="en">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    

{% include 'navbar.html' %}
<head>
    <h1>Blog</h1>
    <p>This is the Blog page of our blog.</p>
</head>
<body>
    <footer class="absolute bottom-0 w-full">
        <div class="w-3/3 pr-1">
            <p class="text-lg text-gray-500  flex justify-center">Web page developed by</p>
            <p class="text-lg text-gray-500  flex justify-center">Adam Power Gonzalez</p>
        </div>
    </footer>
    
</body>