<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url('{{ url_for('static', filename='images/background.png') }}');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    
</head>
<body>
    
    {% include 'navbar.html' %}
    

    <blockquote class="container text-2xl font-semibold  mx-auto pt-10 flex justify-center">
        En esta pagina os ensere algunos consejos para
        <span class=" ml-2 before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-gradient-to-r from-green-500 to-teal-400  relative inline-block">
            <span class="relative text-white ">conseguir empleo en el extranjero</span>
        </span>
    </blockquote>
    <div class="container mx-auto pt-10  flex justify-center">   
        <p class="text-l font-normal">
            <div class= "flex flex-col space-y-4">
                <h1 class="container text-2xl font-semibold  mx-auto pt-10 flex justify-center">Voluntariados </h1>
                <span> A veces si tienes un presupuesto pequeño y lo que quieres vivir es una experiencia nueva, </span>
                <span> sin duda alguna hacer voluntariados es una muy buena opcion, ya que se encargan de ofrecer </span>
                <span> alojamiento, comida e incluso algo de dinero o (pocket money) para tener algun gasto personal.</span>
                <span> Lo bueno de esto es que solo te tendras que encargar del transporte, y algunos</span>
                <span> de los voluntariados son remunerados tambien si buscas bien.</span>
            </div>
        </p>
    </div>
    <section class="bg-gray-100 rounded-lg shadow-md py-6 px-4 max-w-screen-lg mt-10 mx-auto">
        <div class="container mx-auto pt-3">
            <blockquote class="text-center">
                <h1 class="text-xl font-bold mb-4">Experiencias propias</h1>
                <p class="text-left">
                    <span>Yo en mi caso ya lo he hecho 3 veces, una en Irlanda de apicultor, otra en Marruecos de fotógrafo y el último</span>
                    <span>en Noruega como recepcionista y guía de montaña (en este caso fue remunerado), este último lo he realizado</span>
                    <span>este último año. Como Noruega es un país tan caro para el resto del mundo esta opción me permitió vivir</span>
                    <span>casi gratis una de las mejores experiencias que he tenido en mi vida, es un país increíble y me ha permitido incluso</span>
                    <span  class="relative flex justify-center text-2xl text-purple-500 ">ahorrar dinero.</span>
                </p>
            </blockquote>
        </div>
    </section>
    
    <div class="container mx-auto pt-10  flex justify-center">   
        <p class="text-l font-normal">
            <div class= "flex flex-col space-y-4">
                <h1 class="container text-2xl font-semibold  mx-auto pt-10 flex justify-center">Empleos </h1>
                <span> ¿A quien no le ha entrado curiosidad por trabajar en el extranjero? </span>
                <span> Siempre es una buena opcion lanzarse a la piscina y ver que ofertas de empleo </span>
                <span> existen en el extranjero, incluso si es del puesto que estas trabajando actualmente </span>
                <span> te puedes llevar mas de una sorpresa, por lo general dependiendo del pais que elijas</span>
                <span> vas a tener mejores condiciones laborales, mejor remunerado e incluso posibilidades de </span>
                <span  class="relative flex justify-center text-2xl text-purple-500 ">Crecer en una empresa.</span>

            </div>
        </p>
    </div>
    
    

    <footer class="relative bottom-0 w-full 0 pt-50">
        <div class="w-full pr-1 pt-1 pb-1" >
            <p class="text-lg text-gray-500 text-center">Web page developed by</p>
            <p class="text-lg text-gray-500 text-center">Adam Power Gonzalez</p>
        </div>
    </footer>
</body>
</html>
