<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'navbar.html' %}
    <script src="https://cdn.tailwindcss.com"></script>
    <title class="text-xl font-semibold">My travelling Blog</title>
</head>
<body>
    <div class="container mx-auto pt-10 flex justify-center">
        <h1 class="text-xl font-semibold">Welcome to my travelling Blog!</h1>
    </div>
    <div class="container mx-auto pt-10 flex justify-center">   
        <p class="text-l font-normal">
            This is a simple blog website where I share my travel experiences. Feel free to browse!
        </p>
    </div>

    <footer class="absolute bottom-0 w-full bg-gray-800">
        <div class="w-full pr-1">
            <p class="text-lg text-gray-500 text-center">Web page developed by</p>
            <p class="text-lg text-gray-500 text-center">Adam Power Gonzalez</p>
        </div>
    </footer>
</body>
</html>
